params {
    reads = ''
    results = 'results'
    phred = 33
    pairedEnd = true
    help=false
    silva_db = ''
    silva_species_db = ''
    rank = 'Genus'
}

profiles {
    standard {
        executor {
            name = 'local'
        }
        process {
            
            withName : 'dada2' {
                cpus = 8
                memory = { 8.GB * task.attempt }
            }
            withName : 'AdapterRemoval' {
                cpus = 8
                memory = { 2.GB * task.attempt }
            }
            withLabel: 'ristretto' {
                cpus = 1
                memory = 1.GB
            }
        }
    }

    conda {
        process.conda = "$baseDir/environment.yaml"
    }

    shh {
        params {
            silva_db = '/projects1/users/borry/02_db/dada/silva_nr_v132_train_set.fa'
            silva_species_db = '/projects1/users/borry/02_db/dada/silva_species_assignment_v132.fa'
        }

        executor {
            name = 'slurm'
            queueSize = 16
        }
        
        process {

            errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }

            withName : 'dada2' {
                cpus = 8
                memory = { 32.GB * task.attempt }
                queue = 'short'
                time = { 1.h * task.attempt}
            }
            withName : 'AdapterRemoval' {
                cpus = 8
                memory = { 4.GB * task.attempt }
                queue = 'short'
                time = 1.h
            }
            withLabel: 'ristretto' {
                cpus = 1
                memory = 2.GB
                queue = 'short'
                time = 20.m
            }
        }
    }
    test {
        params {
            reads = "$baseDir/test/data/sample*.R{1,2}.fastq.gz"
        }
        executor {
            name = 'local'
        }
        process {
            cpus = 1
            memory = 1.GB
        }
    }

}