params {
    reads = ''
    results = 'results'
    phred = 33
    pairedEnd = true
    help=false
    silva_db = ''
    silva_species_db = ''
    rank = 'Genus'
}

profiles {
    standard {
        executor {
            name = 'local'
        }
        process {
            withLabel : 'dada' {
                cpus = 8
                memory = '16G'
            }
            withLabel : 'adaprem' {
                cpus = 8
                memory = '2G'
            }
            withLabel: 'ristretto' {
                cpus = 1
                memory = '1G'
            }
        }
    }

    conda {
        process.conda = "$baseDir/environment.yaml"
    }

    shh {
        params {
            silva_db = '/projects1/users/borry/02_db/dada/silva_nr_v132_train_set.fa'
            silva_species_db = '/projects1/users/borry/02_db/dada/silva_species_assignment_v132.fa'
        }

        executor {
            name = 'slurm'
            queueSize = 16
        }
        
        process {
            withLabel : 'dada' {
                cpus = 8
                memory = '16G'
                queue = 'short'
                time = '1h'
            }
            withLabel : 'adaprem' {
                cpus = 8
                memory = '2G'
                queue = 'short'
                time = '1h'
            }
            withLabel: 'ristretto' {
                cpus = 1
                memory = '1G'
                queue = 'short'
                time = '10m'
            }
        }
    }
    test {
        params {
            reads = "$baseDir/test/data/sample*.R{1,2}.fastq.gz"
        }
        executor {
            name = 'local'
        }
        process {
            cpus = 1
            memory = '2G'
        }
    }

}